.main-con {
    width: 70%;
    max-width: 70%;
    padding: 30px;
}

.card {
    padding: 20px;
    display: block;
    width: 100%;
    margin: 10px;
}

.ask-con {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.card-left {
    width: 30%;
    max-width: 30%;
}

.card-right {
    max-width: 70%;
    width: 70%;
    padding-left: 15px;
}

.arrow-up {
    width: 0px; 
    height: 0px; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}

.name {
    width: 100%;
    padding: 15px 5px;
    background-color: aliceblue;
}

.options {
    margin-right: 25px;
}

.options img {
    margin-right: 5px;
}

.voted {
    background-color: aliceblue;
    padding: 0px 10px;
}

.user {
    color: rgb(32, 110, 179);
}

@media only screen and (max-width: 768px) {
    .main-con {
        max-width: 100%;
        width: 100%;
    }
}